#escolha{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100% !important;
    max-width: 100%;
    align-content: space-around;
    max-height: 3500px;
    align-content: space-around;
}

.trikas{
    max-height: 3010px !important;
}


.nome-escolha{
    max-width: 500px;
}

#escolha{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}
@media only screen and (max-width:1555px){
    #escolha{
        max-height: 3000px;
    }
    .trikas{
        max-height: 2700px !important;
    }
}
