#escolha{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-content: space-around;
}

@media only screen and (min-width:1555px){
    #escolha{
        max-height: 3500px;
        width: 100% !important;
        max-width: 100%;
    }
}

.trikas{
    max-height: 3010px !important;
}


.nome-escolha{
    max-width: 500px;
}

#escolha{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}
@media only screen and (max-width:1555px) and (min-width:1210px){
    #escolha{
        max-height: 3000px;
        width: 100% !important;
        max-width: 100%;
    }
    .trikas{
        max-height: 2700px !important;
    }
}

@media only screen and (max-width:1210px) and (min-width:1050px){
    #escolha{
        max-height: 3000px;
        max-width: 90vw;
        align-self: center;
    }
    .trikas{
        max-height: 2700px !important;
    }
}

@media only screen and (max-width:1050px) and (min-width:1005px){
    #escolha{
        max-height: 3000px;
        max-width: 80vw;
        align-self: center;
    }
    .nome-escolha{
        width: 50% !important;
        max-width: 50% !important;
    }
    .trikas{
        max-height: 2700px !important;
    }
}

@media only screen and (max-width: 1240px){
    footer{
        display: flex;
        align-items: center;
    }
    footer a{
        max-height: 59px;
        width: 50%;
    }
    footer button{
        width: 100% !important;
        height: 100%;
        margin: 0 !important;
    }
}

footer{
    display: flex;
    position: fixed;
    top: 0;
    width: 98vw;
    background-color: #211e1e;
    height: 80px;
    border-radius: 0 0 15px 15px;
}

#titulo{
    margin-top: 120px;
}

footer a{
    flex: 1;
    display: flex;
}

footer button{
    
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
}