div.row{
    justify-content: space-around;
}

@media only screen and (max-width:910px) {
    div.item, div.item > img, div.item-resultado, div.item-resultado > img{
        width: 160px;
        height: 160px;
    }
    div.item > img:hover{
        width: 165px;
        height: 165px;
    }
}
@media only screen and (min-width: 911px) and (max-width:1180px) {
    div.item, div.item > img, div.item-resultado, div.item-resultado > img{
        width: 180px;
        height: 180px;
    }
    div.item > img:hover{
        width: 185px;
        height: 185px;
    }
}

@media only screen and (min-width: 1181px){
    div.item, div.item > img, div.item-resultado, div.item-resultado > img{
        width: 210px;
        height: 210px;
    }
    div.item > img:hover{
        width: 215px;
        height: 215px;
    }
}

@media only screen and (min-width: 1181px){
    div.row{
        justify-content: center;
    }
    span, div.item, div.item-resultado{
        margin: 0px 20px;
    }
}

