#choiceBox{
    background-color: black;
    width: 40vw;
    height: 35vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#choiceBox span{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    
}
#choiceBox img{
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier();
    padding: 7px;
    margin: 3px;
    border-radius: 15px;
}
 
#choiceBox img:hover{
    background-color: rgb(148, 0, 0);
}

#imageFixed{
    width: 65px;
    height: 65px;
    padding: 10px;
    margin: 0;
    border-radius: 0px 0px 18px 0px;
    background-color: black;
}

.player{
    margin: 3px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-size: cover;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

#elenco{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    overflow: auto;
    border: 1.5px dashed white;
    padding: 8px;
    margin: 4px;
    margin-left: 2vw;
    border-radius: 10px;
    position: relative;
}

.posicao{
    display: flex;
    flex-wrap: wrap;
}

#elenco span{
    display: block;
    width: 100%;
}

.draggable {
      width: 120px;
      height: 120px;
      cursor: grab;
      user-select: none;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .posicao {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.player {
  width: 100px;
  height: 100px;
  cursor: grab;
  background-size: cover;
  border-radius: 8px;
}

.player.dragging {
  opacity: 0.4;
}

.adicionar{
    width: 100px;
    height: 100px;
    background-image: url(imagens/adicionar.png);
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    margin: 4px;
}

#janelaideal{
    width: 50vw;
    height: 50vh;
    border: 1.5px dashed white;
    border-radius: 10px;
    overflow: auto;
    margin: 4px;
    margin-right: 2vw;
    padding: 8px;
}

#bigbox{
    display: flex;
    justify-content: space-between;
}

.jogador-choice{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-image: url(imagens/player.png);
    background-size: cover;
    margin: 4px;
    position: relative;
}

.position-box{
    display: flex;
}

.close{
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url(imagens/no.png);
    background-size: cover;
    border-radius: 30%;
    margin: 5px;
    transform: translateX(-90%);
    left: 90%;
    cursor: pointer;
}